




  <img src="assets\cybergroup-logos.1.png" width="20%" height="20%" >

  <ul class="nav justify-content-center">
      <li class="nav-item">
          <button type="button" class="btn btn-info" routerLink="subhome">Home</button>
      </li>
      <li class="nav-item">
          <button type="button" class="btn btn-info" routerLink="subhome">services</button>
      </li>
      <li class="nav-item">
          <button type="button" class="btn btn-info"routerLink="about" >About</button>
      </li>
      <li class="nav-item">
          <button type="button" class="btn btn-info" routerLink="employee" >contactus</button>
        </li>
    </ul>
    <br>