<!-- Footer -->
<div class="jumbotron jumbotron-fluid">
  <hr>
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h4 class="text-uppercase font-weight-bold">Some of our recent work</h4>
          <div class="card" style="width: 18rem;">
          
         
              <img src="assets\nationalgeographicog.ngsversion.1530540626597.adapt.1900.1.jpg" class="card-img-top">
              
              <div class="card-body">
                <h5 class="card-title">National Geographic</h5>
                <p class="card-text">
                    Database Driven, e-Commerce, Recent Work</p>
                
              </div>
            </div>
            <div class="card" style="width: 18rem;">
          </div>
  

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">About Cyber Group India Pvt. Ltd. :-></h5>
          <p>
              Registered in 2015 , Cyber Group India Pvt. Ltd. has made a name for itself in the list of top service providers of in India. Cyber Group India Pvt. Ltd. is listed in Trade India's list of verified companies offering wide array of etc. Contact here for in Greater Noida, Uttar Pradesh. 
              
              </p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/angular/"> cbyer group</a>
    </div>
    <!-- Copyright -->

  </footer>
</div>
<hr>
  <!-- Footer -->