<!-- Footer -->
<div class="jumbotron jumbotron-fluid">
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h4 class="text-uppercase font-weight-bold">Mail Us</h4>
          <marquee>SARU Internet Pvt Ltd Block B (Greater Noida), 
              Ground Floor, Embassy Tech Village, 
              Outer Ring Road, Devarabeesanahalli Village, 
              Varthur Hobli, Bengaluru East Taluk, 
              Bengaluru District, 
              Karnataka, India, 560103.</marquee>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Registered address></h5>
          <p>SARU Internet Private Limited, 
              Greater NOIDA, Ground Floor, ALPHA 1, 
              80 Feet Road, B Block, 
              NOIDA, 
              NOIDA - 251101 
              India 
              CIN : U51109KA2012PTC066107 
              Telephone: 273535.</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/angular/"> SARU.COM</a>
    </div>
    <!-- Copyright -->

  </footer>
</div>
  <!-- Footer -->