<!-- Footer -->
<div class="jumbotron jumbotron-fluid">
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h4 class="text-uppercase font-weight-bold">Mail Us</h4>
          <P>Sj@HCL.com</P>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Registered address></h5>
          <p>HCL Technologies Ltd.
            Technology Hub, SEZ
            Plot No. 3A, Sector 126
            Noida – 201304, India</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/angular/"> SARU.COM</a>
    </div>
    <!-- Copyright -->

  </footer>
</div>
  <!-- Footer -->