 
     <div class="jumbotron">
        <h1 class="display-4">Your Cybersecurity Roadmap</h1>
        <p class="lead"> Development of security strategies aligned to business goals.
            Identification of gaps and managing risk and allocation of resources to address them.
            Assessment of current program state and development of a cybersecurity roadmap to mature your security programs.
            Implementation of leading security practices and execution of your security strategy.
            To help you design and implement an effective cybersecurity strategy, we offer a suite of solutions that includes:
            
            Program development. Our team can help you define, articulate and communicate your security vision.
            Digital strategy. We can help to optimize your existing infrastructure and select the technologies and security strategies most appropriate for your digital security programs.
            Advisory services. We offer on-demand resources, guidance and services provided by former CISOs and security professionals to help you elevate your current security program.
            IT for mergers and acquisitions. We offer expertise and leading practices to help combine resources and protect assets during a merger or an acquisition.
          </p>
        <hr class="my-4">
        <p></p>
        <a class="btn btn-primary btn-lg" href="https://www.optiv.com/contact-us" role="button">Learn more</a>
      </div>