<div class="card mb-3 " style="max-width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets\team.jpg" class="card-img"  height="100%" width="60%">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2> Welcome To Cybergroup............. </h2>
          <p class="card-text">
              Cybergroup, Inc., founded in 1994, is a leading provider of Internet / Intranet technology solutions that enhance communications and commerce between organizations and their customers, suppliers, and other constituencies. We provide a comprehensive range of Web site solutions and services, with a primary focus on Web to database integration.
              
              Our technology services include integration between the Internet and legacy systems, and the development and implementation of e-commerce systems to enable online sales, support and communication. Through a number of strategic partnerships we can bring you proven technology services, solutions, and support.
              To date, all of our clients have come to us by way of referral. By nurturing our client relationships and delivering exceptional, effective, and economical solutions, we have developed a comprehensive and impressive portfolio. We invite and encourage you to contact our clients to see what we have done for them and what we can do for you!
               </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  