<div class="card-deck">
    <div class="card">
      <img src="assets\th7LOE35GA.jpg" class="card-img-top" >
      <div class="card-body">
        <h2 class="card-title">Web Development</h2>
             
        <p class="card-text">Web development has been one of our core strengths since our founding in 1994. Our experience and expertise in designing and developing web applications using a variety of technologies allows us to provide you with the most economical and effective solutions.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Learn More></small>
      </div>
    </div>
    <div class="card">
      <img src="assets\th9W45J02S.jpg" class="card-img-top" >
      <div class="card-body">
        <h2 class="card-title">Web Design</h2>
        <p class="card-text">Cybergroup graphically designs web sites that enhance and promote our clients’ business online, and which engage and captivate those who come to visit. Designing each web site from individual client specifications ensures that each client receives a custom design and solution every time. </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Learn More></small>
      </div>
    </div>
    <div class="card">
      <img src="assets\thW9HSNMUO.jpg" class="card-img-top">
      <div class="card-body">
        <h2 class="card-title">E-Commerce</h2>
        <p class="card-text">Cybergroup assures that your customers will have a fully functional, graphically appealing, pleasurable experience as they browse and purchase your product or service offerings</p>
        
      </div>
      <div class="card-footer">
        <small class="text-muted">Learn More></small>
      </div>
    </div>
  </div>
